@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bestermind:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext');

body {
  font-family: 'Inter' !important;
   color: white !important;
}

code {
  font-family: Cormorant Upright;
}

.homePage{
       background-image: url("./asset/MainPage.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      height: 100vh;
}

.title-gradient-text {
  background-image: linear-gradient(#144EE3, #A353AA, #EB568E, #144EE3,#EB568E);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  letter-spacing: 3px;
  font-weight: 900;
}
.gradient-text {
  background-color: #f3ec78;
    background-image: linear-gradient(#144EE3, #A353AA, #EB568E, #144EE3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  font-size: 30px;
  font-family: Inter;
  letter-spacing: 3px;
  
}

.gradient-text-small {
  background-color: #f3ec78;
    background-image: linear-gradient(360deg, #A353AA, #EB568E, #144EE3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  font-size: 15px;
  font-family: Inter;
  letter-spacing: 3px;
  
}

.wrapped-link {
 
  max-width: 300px; /* Adjust the maximum width as needed */
  overflow: hidden;
  height: auto;
  transition: all 0.5s linear; /* Add transition properties */
  
}

.wrapped-link:hover {
  max-height: 100px;
  white-space: normal;
  overflow: visible;
  
}

.g{
  color: #e47ced;
}